{% extends "layout.twig" %}
{% block content %}

<div class="row">
    <div class="span10">
        <h1>Ballmer Peak Estimation</h1>
        <p>Based on an average UK adult male, 30 minutes after consuming the indicated drinks.</p>
        <p>
            {% for drink in ballmer.drinks %}
                <div class="badge badge-success large-badge">{{drink.name}}</div>
            {% else %}
                <em>You don't seem to have had anything to drink yet. Visit a drink page and click &quot;Consume&quot;</em>
            {% endfor %}
        </p>
    </div>
    <div class="span2 ballmer-state text-info">
        <span class="label label-{{ballmer.state}}">{{ballmer.level}}</span>
    </div>
</div>

<div class="row">
    <div class="span10">
        <div id="chart" style="height: 500px width: 100%"></div>
    </div>
    <div class="span2">
        {{ballmer.bac}}
    </div>
</div>

<p><a href="/ballmer/clear" class="btn btn-danger">Clear All Previous Drinks</a>

{% endblock %}

{% block scripts %}
<script src="https://www.google.com/jsapi"></script>
<script>
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart)

    var rawData = {{ballmer.chartData|raw}}

    function drawChart() {
        var data = google.visualization.arrayToDataTable(rawData);

        var options = {
            title: 'Ballmer Peak',
            seriesType : 'line',
            series : {1: {type : 'bars'}}
        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart'));
        chart.draw(data, options);
    }
</script>
{% endblock %}
