{% extends "layout.twig" %}
{% block content %}

<div class="row">
    <div class="span9">
        <h1>What can I make?</h1>
        <label for="query">Start typing what you have in your cabinet...</label>
        <input type="text" id="query">

        <div id="selected"></div>

        <div id="suggested"></div>
    </div>

    <div class="span3">
        <h2>I Want A...</h2>

        <dl>
        {% for drink in drinks %}
            <dt><a href="/recipes/{{drink.id}}">{{drink.name}}</a></dt>
            <dd>{{drink.description}}</dd>
        {% endfor %}
        </dl>
        <a href="/recipes" class="btn btn-link">View all drinks...</a>

        <h2>What can I make with...</h2>
        <ul>
        {% for ingredient in ingredients %}
            <li><a href="/ingredients/{{ingredient.id}}">{{ingredient.name}}</a></li>
        {% endfor %}
        </ul>
        <a href="/ingredients" class="btn btn-link">View all ingredients...</a>
    </div>

</div>


{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function() {

    $(document).on('click', '#selected div.badge', function(){
        $(this).remove();
        searchForDrinks();
    });

    function searchForDrinks() {

        $('#suggested div').remove();
        var list = [];

        $('#selected div').each(function(){
            list.push($(this).attr('data-id'));
        });

        $.getJSON('/recipe-lookup', {'ingredients' : list.join(',')}, function(data) {

            $(data).each(function(){
                $( "<div>" )
                    .html([
                        '<a href="/recipes/' + this.id + '" class="btn btn-info pull-right">View &gt;</a>',
                        '<h2>' + this.recipe + '</h2>',
                        '<p>' + this.description + '</p>',
                        ].join(''))
                    .attr('data-id', this.id)
                    .attr('class', 'drinks-container')
                    .prependTo("#suggested");
            });
        });
    }

    function addIngredient(name, id) {

        if($('#selected div[data-id=' + id + ']').length > 0) {
            return;
        }

        $('<div class="badge badge-success large-badge" title="Click to remove">')
            .text(name)
            .attr('data-id', id)
            .prependTo('#selected');

        searchForDrinks();
    }


    $( "#query" ).autocomplete({
        source: "/ingredient-lookup",
        minLength: 2,
        select: function( event, ui ) {

        if(ui.item) {
            addIngredient(ui.item.value, ui.item.id);
        }

        $(this).val('');
            return false;
        }
    });
});
</script>

{% endblock %}

{% block backlink %}{% endblock %}
